In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv('bykea_karachi_data_updated.csv')

In [4]:
df.head()

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,Cancelled Rides by Customer,Reason for cancelling by Customer,Cancelled Rides by Driver,Reason for cancelling by Driver,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating
0,2025-05-07 00:00:00,18:51:00,BK100000,Cancelled by Driver,CU9618,Prime Plus,Rashid Minhas Road,Landhi,NaN,NaN,0,NaN,1,Customer related issue,0,NaN,NaN,NaN,NaN,NaN
1,2025-05-29 00:00:00,17:07:00,BK100001,Success,CU2003,Prime Sedan,Shah Faisal Colony,New Karachi,9.66,13.72,0,NaN,0,NaN,0,NaN,1339.72,14.57,3.5,4.9
2,2025-05-16 00:00:00,20:09:00,BK100002,Cancelled by Customer,CU8121,Mini,Clifton,DHA,NaN,NaN,1,AC is not working,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2025-05-18 00:00:00,17:42:00,BK100003,Cancelled by Customer,CU6862,Prime Plus,Qayyumabad,Manzoor Colony,NaN,NaN,1,Driver is not moving towards pickup location,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2025-05-18 00:00:00,07:11:00,BK100004,Success,CU2163,Prime SUV,Saddar,Ancholi,2.25,11.14,0,NaN,0,NaN,0,NaN,202.65,1.32,3.4,4.4

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 20 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Date                               100000 non-null  object
 1   Time                               100000 non-null  object
 2   Booking ID                         100000 non-null  object
 3   Booking Status                     100000 non-null  object
 4   Customer ID                        100000 non-null  object
 5   Vehicle Type                       100000 non-null  object
 6   Pickup Location                    100000 non-null  object
 7   Drop Location                      100000 non-null  object
 8   Avg VTAT                           62046 non-null   float64
 9   Avg CTAT                           62046 non-null   float64
 10  Cancelled Rides by Customer        100000 non-null  int64
 11  Reason for cancelling by Customer  14864 non-null   object
 12  Cancelled Rides by Driver          100000 non-null  int64
 13  Reason for cancelling by Driver    14959 non-null   object
 14  Incomplete Rides                   100000 non-null  int64
 15  Incomplete Rides Reason            8131 non-null    object
 16  Booking Value                      62046 non-null   float64
 17  Ride Distance                      62046 non-null   float64
 18  Driver Ratings                     62046 non-null   float64
 19  Customer Rating                    62046 non-null   float64
dtypes: float64(6), int64(3), object(11)
memory usage: 15.3+ MB

In [ ]:
df.duplicated().sum() #no duplicates

np.int64(0)

In [8]:
df['Cancelled Rides by Customer'].unique()

array([0, 1])

In [10]:
df.columns

Index(['Date', 'Time', 'Booking ID', 'Booking Status', 'Customer ID',
       'Vehicle Type', 'Pickup Location', 'Drop Location', 'Avg VTAT',
       'Avg CTAT', 'Cancelled Rides by Customer',
       'Reason for cancelling by Customer', 'Cancelled Rides by Driver',
       'Reason for cancelling by Driver', 'Incomplete Rides',
       'Incomplete Rides Reason', 'Booking Value', 'Ride Distance',
       'Driver Ratings', 'Customer Rating'],
      dtype='object')

In [12]:
df.columns=df.columns.str.lower().str.replace(' ','_')
df.columns

Index(['date', 'time', 'booking_id', 'booking_status', 'customer_id',
       'vehicle_type', 'pickup_location', 'drop_location', 'avg_vtat',
       'avg_ctat', 'cancelled_rides_by_customer',
       'reason_for_cancelling_by_customer', 'cancelled_rides_by_driver',
       'reason_for_cancelling_by_driver', 'incomplete_rides',
       'incomplete_rides_reason', 'booking_value', 'ride_distance',
       'driver_ratings', 'customer_rating'],
      dtype='object')

In [14]:
df['customer_rating'].unique()

array([nan, 4.9, 4.4, 4.5, 4. , 3.8, 3.6, 3.2, 4.7, 3.1, 3.7, 3.4, 4.1,
       3.5, 4.8, 3. , 3.9, 4.2, 4.3, 5. , 4.6, 3.3])

In [17]:
df['reason_for_cancelling_by_customer'].fillna('Unkown Reasons',inplace=True)

In [20]:
df['reason_for_cancelling_by_driver']=df['reason_for_cancelling_by_driver'].fillna('Unkown Reasons')

In [24]:
for i in ['cancelled_rides_by_customer','cancelled_rides_by_driver','incomplete_rides']:
   df[i]= df[i].replace(1,'yes')
   df[i]= df[i].replace(0,'No')

In [27]:
df['cancelled_rides_by_driver'].unique()

array(['yes', 'No'], dtype=object)

In [25]:
df.head()

,date,time,booking_id,booking_status,customer_id,vehicle_type,pickup_location,drop_location,avg_vtat,avg_ctat,cancelled_rides_by_customer,reason_for_cancelling_by_customer,cancelled_rides_by_driver,reason_for_cancelling_by_driver,incomplete_rides,incomplete_rides_reason,booking_value,ride_distance,driver_ratings,customer_rating
0,2025-05-07 00:00:00,18:51:00,BK100000,Cancelled by Driver,CU9618,Prime Plus,Rashid Minhas Road,Landhi,NaN,NaN,No,Unkown Reasons,yes,Customer related issue,No,NaN,NaN,NaN,NaN,NaN
1,2025-05-29 00:00:00,17:07:00,BK100001,Success,CU2003,Prime Sedan,Shah Faisal Colony,New Karachi,9.66,13.72,No,Unkown Reasons,No,Unkown Reasons,No,NaN,1339.72,14.57,3.5,4.9
2,2025-05-16 00:00:00,20:09:00,BK100002,Cancelled by Customer,CU8121,Mini,Clifton,DHA,NaN,NaN,yes,AC is not working,No,Unkown Reasons,No,NaN,NaN,NaN,NaN,NaN
3,2025-05-18 00:00:00,17:42:00,BK100003,Cancelled by Customer,CU6862,Prime Plus,Qayyumabad,Manzoor Colony,NaN,NaN,yes,Driver is not moving towards pickup location,No,Unkown Reasons,No,NaN,NaN,NaN,NaN,NaN
4,2025-05-18 00:00:00,07:11:00,BK100004,Success,CU2163,Prime SUV,Saddar,Ancholi,2.25,11.14,No,Unkown Reasons,No,Unkown Reasons,No,NaN,202.65,1.32,3.4,4.4

In [52]:
df.head()

,date,time,booking_id,booking_status,customer_id,vehicle_type,pickup_location,drop_location,avg_vtat,avg_ctat,cancelled_rides_by_customer,reason_for_cancelling_by_customer,cancelled_rides_by_driver,reason_for_cancelling_by_driver,incomplete_rides,incomplete_rides_reason,booking_value,ride_distance,driver_ratings,customer_rating
0,2025-05-07 00:00:00,18:51:00,BK100000,Cancelled by Driver,CU9618,Prime Plus,Rashid Minhas Road,Landhi,NaN,NaN,No,Unkown Reasons,yes,Customer related issue,No,NaN,NaN,NaN,NaN,NaN
1,2025-05-29 00:00:00,17:07:00,BK100001,Success,CU2003,Prime Sedan,Shah Faisal Colony,New Karachi,9.66,13.72,No,Unkown Reasons,No,Unkown Reasons,No,NaN,1339.72,14.57,3.5,4.9
2,2025-05-16 00:00:00,20:09:00,BK100002,Cancelled by Customer,CU8121,Mini,Clifton,DHA,NaN,NaN,yes,AC is not working,No,Unkown Reasons,No,NaN,NaN,NaN,NaN,NaN
3,2025-05-18 00:00:00,17:42:00,BK100003,Cancelled by Customer,CU6862,Prime Plus,Qayyumabad,Manzoor Colony,NaN,NaN,yes,Driver is not moving towards pickup location,No,Unkown Reasons,No,NaN,NaN,NaN,NaN,NaN
4,2025-05-18 00:00:00,07:11:00,BK100004,Success,CU2163,Prime SUV,Saddar,Ancholi,2.25,11.14,No,Unkown Reasons,No,Unkown Reasons,No,NaN,202.65,1.32,3.4,4.4

In [29]:
df.columns

Index(['date', 'time', 'booking_id', 'booking_status', 'customer_id',
       'vehicle_type', 'pickup_location', 'drop_location', 'avg_vtat',
       'avg_ctat', 'cancelled_rides_by_customer',
       'reason_for_cancelling_by_customer', 'cancelled_rides_by_driver',
       'reason_for_cancelling_by_driver', 'incomplete_rides',
       'incomplete_rides_reason', 'booking_value', 'ride_distance',
       'driver_ratings', 'customer_rating'],
      dtype='object')

In [51]:
df.to_csv('bykea_rides.csv',index=False)

In [ ]:
#added new column to data bykea_rides
df2=pd.read_csv('bykea_rides.csv')

In [54]:
df2.head()

,date,time,booking_id,booking_status,customer_id,vehicle_type,pickup_location,drop_location,avg_vtat,avg_ctat,...,reason_for_cancelling_by_customer,cancelled_rides_by_driver,reason_for_cancelling_by_driver,incomplete_rides,incomplete_rides_reason,booking_value,Payment Method,ride_distance,driver_ratings,customer_rating
0,5/7/2025 0:00,18:51:00,BK100000,Cancelled by Driver,CU9618,Prime Plus,Rashid Minhas Road,Landhi,NaN,NaN,...,Unkown Reasons,yes,Customer related issue,No,NaN,NaN,Cash,NaN,NaN,NaN
1,5/29/2025 0:00,17:07:00,BK100001,Success,CU2003,Prime Sedan,Shah Faisal Colony,New Karachi,9.66,13.72,...,Unkown Reasons,No,Unkown Reasons,No,NaN,1339.72,Cash,14.57,3.5,4.9
2,5/16/2025 0:00,20:09:00,BK100002,Cancelled by Customer,CU8121,Mini,Clifton,DHA,NaN,NaN,...,AC is not working,No,Unkown Reasons,No,NaN,NaN,Wallet,NaN,NaN,NaN
3,5/18/2025 0:00,17:42:00,BK100003,Cancelled by Customer,CU6862,Prime Plus,Qayyumabad,Manzoor Colony,NaN,NaN,...,Driver is not moving towards pickup location,No,Unkown Reasons,No,NaN,NaN,Wallet,NaN,NaN,NaN
4,5/18/2025 0:00,7:11:00,BK100004,Success,CU2163,Prime SUV,Saddar,Ancholi,2.25,11.14,...,Unkown Reasons,No,Unkown Reasons,No,NaN,202.65,Card,1.32,3.4,4.4

In [ ]:
df2['Payment Method']
df2['booking_status'].unique()

array(['Cancelled by Driver', 'Success', 'Cancelled by Customer',
       'Incomplete'], dtype=object)

In [60]:
df2['Payment Method'].unique()

array(['Cash', 'Wallet', 'Card'], dtype=object)

In [67]:
for i in range(0,len(df2),1):
    if df2.at[i,'booking_status']=='Success':
        df2.at[i,'Payment_Method']=np.random.choice(['Cash', 'Wallet', 'Card'])

In [69]:
df2.drop('Payment Method',axis=1,inplace=True)

In [70]:
df2.head()

,date,time,booking_id,booking_status,customer_id,vehicle_type,pickup_location,drop_location,avg_vtat,avg_ctat,...,reason_for_cancelling_by_customer,cancelled_rides_by_driver,reason_for_cancelling_by_driver,incomplete_rides,incomplete_rides_reason,booking_value,ride_distance,driver_ratings,customer_rating,Payment_Method
0,5/7/2025 0:00,18:51:00,BK100000,Cancelled by Driver,CU9618,Prime Plus,Rashid Minhas Road,Landhi,NaN,NaN,...,Unkown Reasons,yes,Customer related issue,No,NaN,NaN,NaN,NaN,NaN,NaN
1,5/29/2025 0:00,17:07:00,BK100001,Success,CU2003,Prime Sedan,Shah Faisal Colony,New Karachi,9.66,13.72,...,Unkown Reasons,No,Unkown Reasons,No,NaN,1339.72,14.57,3.5,4.9,Card
2,5/16/2025 0:00,20:09:00,BK100002,Cancelled by Customer,CU8121,Mini,Clifton,DHA,NaN,NaN,...,AC is not working,No,Unkown Reasons,No,NaN,NaN,NaN,NaN,NaN,NaN
3,5/18/2025 0:00,17:42:00,BK100003,Cancelled by Customer,CU6862,Prime Plus,Qayyumabad,Manzoor Colony,NaN,NaN,...,Driver is not moving towards pickup location,No,Unkown Reasons,No,NaN,NaN,NaN,NaN,NaN,NaN
4,5/18/2025 0:00,7:11:00,BK100004,Success,CU2163,Prime SUV,Saddar,Ancholi,2.25,11.14,...,Unkown Reasons,No,Unkown Reasons,No,NaN,202.65,1.32,3.4,4.4,Cash

In [76]:
df2[df2['booking_status']=='Success'][['booking_status','booking_value','Payment_Method']]

      booking_status  booking_value Payment_Method
1            Success        1339.72           Card
4            Success         202.65           Cash
5            Success        1209.87           Card
6            Success        1433.97           Cash
8            Success         715.94           Card
...              ...            ...            ...
99994        Success        1494.21         Wallet
99995        Success         585.36           Card
99997        Success         350.81           Cash
99998        Success        1218.78         Wallet
99999        Success         588.41           Cash

[62046 rows x 3 columns]

In [78]:
df2.to_csv('bykea_rides.csv',index=False)